.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh
pubspec.lock
ios/Pods/
ios/Podfile.lock
DerivedData/
**/build/
.android/
.gradle/
local.properties
.vscode/
.idea/
*.iml
*.generated.dart
.DS_Store
